// Fonts
$-f-red-hat: 'Red Hat Display', sans-serif;

// Colors
$-c-header: hsl(223, 47%, 23%);
$-c-card: hsl(0, 0%, 100%);
$-c-shadow: hsl(225, 100%, 98%);
$-c-gray: hsl(224, 23%, 55%);
$-c-bg: hsl(225, 100%, 94%);
$-c-highlight: hsl(245, 75%, 52%);